%tr{"data-link": "#{institution_path(institution)}", class: "ins-index__table__item"}
  %td.ins-index__table__item-id.center #{institution.id}
  %td.ins-index__table__item-image.center
    - if institution.image.present?
      = image_tag "#{institution.image.url}", class: "image"
    - else
      = image_tag "default.jpg", class: "image"
  %td.ins-index__table__item-name.left #{institution.name}
  %td.ins-index__table__item-type.left
    - if institution.institution_type.present?
      #{institution.institution_type.name}
  %td.ins-index__table__item-phone.center
    - if institution.phone_number_one.present?
      #{institution.phone_number_one}
  %td.ins-index__table__item-address.left #{full_address(institution)}
