= render 'layouts/sidebar'
.wrapper
  = render "layouts/flash"
  .top-title 職員情報
  = form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f|
    .signup-form
      = render "devise/shared/error_messages", resource: current_user
      .field
        = f.label :name, "名前"
        %span.form-require
        = f.text_field :name, class: "field__input", autocomplete: "name", placeholder: "例）デポマネ太郎"
      .field
        = f.label :kana, "フリガナ"
        %span.form-require
        = f.text_field :kana, class: "field__input", autocomplete: "kana", placeholder: "例）デポマネタロウ"
      .field
        = f.label :email, "メールアドレス"
        %span.form-require
        = f.email_field :email, class: "field__input", autocomplete: "email", placeholder: "PC・携帯どちらでも可" 
      .field
        = f.label :password, "パスワード"
        %span.form-require
        = f.password_field :password, class: "field__input", autocomplete: "email", placeholder: "6文字以上"
      .field
        = f.label :password_confirmation, "パスワード（確認）"
        %span.form-require
        = f.password_field :password_confirmation, class: "field__input", autocomplete: "password", placeholder: "6文字以上"
      .submit
        .submit__btn 変更
        %p ※テストユーザー情報を変更できないよう変更ボタンを無効にしています
      .submit
        = link_to destroy_user_session_path, method: :DELETE do
          %btn{type: "button", class: "submit__btn logout"}ログアウト

