- breadcrumb :new_customer

.top-title 新規登録
.cus-new
  = form_with(model: @customer, local: true) do |f|
    .cus-new--left
      .cus-new--left__name
        = f.label :name, "名前", class: "cus-new--left__label"
        %span.required
        = f.text_field :name, class: "cus-new--left__field"
      .cus-new--left__kana
        = f.label :kana, "フリガナ", class: "cus-new--left__label"
        %span.required
        = f.text_field :kana, class: "cus-new--left__field"
      .cus-new--left__box
        .cus-new--left__birthday
          = f.label :birthday, "生年月日", class: "cus-new--left__label birthday"
          .cus-new--left__birthday--input
            = raw sprintf(f.date_select( :birthday, 
              prompt: "--",
              use_two_digit_numbers: true,
              start_year: Time.now.year,
              selected: Time.now.year - 60,
              end_year: 1900,
              date_separator: '%s'),
              '年 ', '月 ') + '日'
        .cus-new--left__sex
          %label.cus-new--left__label.sex
            性別
          %span.required
          %label 男
          = f.radio_button :sex, 0
          %label 女
          = f.radio_button :sex, 1
      .cus-new--left__phone
        = f.label :phone_number, "電話番号", class: "cus-new--left__label"
        = f.number_field :phone_number, class: "cus-new--left__field"
      .cus-new--left__sell-phone
        = f.label :cell_phone_number, "携帯電話番号", class: "cus-new--left__label"
        = f.number_field :cell_phone_number, class: "cus-new--left__field"
      .cus-new--left__emergency-phone
        = f.label :emergency_phone_number, "緊急連絡先", class: "cus-new--left__label"
        = f.number_field :emergency_phone_number, class: "cus-new--left__field"
      .cus-new--left__postal_code
        = f.label :postal_code, "郵便番号", class: "cus-new--left__label"
        = f.number_field :postal_code, class: "cus-new--left__field"
      .cus-new--left__prefecture
        = f.label :prefecture_id, "都道府県", class: "cus-new--left__label"
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, {class: "cus-new--left__field"}
      .cus-new--left__city
        = f.label :city, "市区町村", class: "cus-new--left__label"
        = f.text_field :city, class: "cus-new--left__field"
      .cus-new--left__address
        = f.label :address, "番地", class: "cus-new--left__label"
        = f.text_field :address, class: "cus-new--left__field"
      .cus-new--left__building
        = f.label :building, "建物名", class: "cus-new--left__label"
        = f.text_field :building, class: "cus-new--left__field"
      .cus-new--left__box
        .cus-new--left__start_date
          = f.label :start_date, "利用開始日", class: "cus-new--left__label"
          .cus-new--left__start_date--select
            = raw sprintf(f.date_select( :start_date, 
              prompt: "--",
              use_two_digit_numbers: true,
              start_year: Time.now.year,
              selected: Time.now,
              end_year: 1900,
              date_separator: '%s'),
              '年 ', '月 ') + '日'
        = f.submit "登録", class: "cus-new--left__submit"
    .cus-new--right
      %span.cus-new--right-title
        画像選択
      .cus-new--right__default
      .cus-new--right__preview
      %label{class: "cus-new--right__image"}
        = f.file_field :image
