%tr{"data-link": "#{transaction_path(transaction)}", class: "tra-index__table__item"}
  %td.tra-index__table__item-t_id.center #{transaction.id}
  %td.tra-index__table__item-c_id.center #{c_id_change(transaction)}
  %td.tra-index__table__item-date.center #{transaction.date}
  %td.tra-index__table__item-customer.center #{transaction.customer.name}
  %td.tra-index__table__item-subject.center
    - if transaction.subject.present?
      #{transaction.subject.name}
  %td.tra-index__table__item-institution.center
    - if transaction.institution.present?
      #{transaction.institution.name}
  %td.tra-index__table__item-summary.left
    - if transaction.summary.present?
      #{transaction.summary}
  %td.tra-index__table__item-amount.right
    - if transaction.subject.status == 1
      #{converting_to_jpy(transaction.amount)}円
  %td.tra-index__table__item-amount.right
    - if transaction.subject.status == 0
      #{converting_to_jpy(transaction.amount)}円
