.sidebar
  .sidebar__title.uk-heading-primary
    デポマネ
  .sidebar__user
    NAMEさん
  .sidebar__menu
    .sidebar__menu__box#transactions
      = link_to "取引", transactions_path
      %ul.sidebar__menu__box__list
        %li.sidebar__menu__box__list-child
          = link_to "取引登録", "#"
        %li.sidebar__menu__box__list-child
          = link_to "一覧表示", "#"
        %li.sidebar__menu__box__list-child
          = link_to "詳細検索", "#"
    .sidebar__menu__box#customers
      = link_to "利用者情報", customers_path
      %ul.sidebar__menu__box__list
        %li.sidebar__menu__box__list-child
          = link_to "利用者登録", new_customer_path
        %li.sidebar__menu__box__list-child
          = link_to "一覧表示", "#"
        %li.sidebar__menu__box__list-child
          = link_to "詳細検索", "#"
    .sidebar__menu__box#institutions
      = link_to "施設情報", "#"
      %ul.sidebar__menu__box__list
        %li.sidebar__menu__box__list-child
          = link_to "一覧表示", "#"
        %li.sidebar__menu__box__list-child
          = link_to "詳細検索", "#"
    .sidebar__menu__box#subjects
      = link_to "科目設定", "#"
      %ul.sidebar__menu__box__list
        %li.sidebar__menu__box__list-child
        %li.sidebar__menu__box__list-child
    .sidebar__menu__box#users
      = link_to "職員情報", "#"
      %ul.sidebar__menu__box__list
        %li.sidebar__menu__box__list-child
        %li.sidebar__menu__box__list-child
